name: Build QtMikMod Project with Docker

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Make build.sh executable
      run: chmod +x build.sh

    - name: Run build script
      run: ./build.sh

    - name: Upload AppImage artifact
      uses: actions/upload-artifact@v4
      with:
        name: QtMikMod-AppImage
        path: dist/QtMikMod-x86_64.AppImage